# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Z don't resolve symlinks
export _Z_NO_RESOLVE_SYMLINKS=1

# Setup pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

# Setup nvm home dir
export NVM_DIR="$HOME/.nvm"

# Setup dotnet core
export PATH="$HOME/.dotnet:$PATH"
export PATH="$HOME/.dotnet/tools:$PATH"
export DOTNET_ROOT=$(dirname $(realpath $(which dotnet)))

# github.com/trapd00r/LS_COLORS
eval "$(dircolors -b ~/.dircolors)"
