.config/fish/fish_variables
.config/gcloud
.config/opencode/node_modules
.config/opencode/package.json
.config/opencode/package-lock.json
.config/opencode/bun.lock

.ssh/config.d/private/*
.ssh/known_hosts*
!.ssh/known_hosts.services
.local/share/gnupg/pubring.kbx
.tmp
