[Distribution]
Distribution=arch
Architecture=x86-64
Mirror={{ devbox_arch_mirror }}

[Output]
Format=directory
Output={{ devbox_image_name }}
OutputDirectory=/var/lib/machines

[Content]
Bootable=no
Packages={{ devbox_required_image_packages | join(',') }}
