export MYBINS="$HOME/.bin"

# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

#NPM install without sudo : in home dir
#Reference to npm packages directory
export NPM_PACKAGES="${HOME}/.npm-packages"

#Node reference to npm packages
export NODE_PATH="$NPM_PACKAGES/lib/node_modules:$NODE_PATH"

#Ensure you'll find installed binaries and man pages
export PATH="$NPM_PACKAGES/bin:$PATH"

# Set go path
export GOPATH=$HOME/Code

# Add workspace binfolder to search path
export PATH=$PATH:$GOPATH/bin

# Unset manpath so we can inherit from /etc/manpath via the `manpath`
# command
unset MANPATH # delete if you already modified MANPATH elsewhere in your config
export MANPATH="$NPM_PACKAGES/share/man:$(manpath)"

#Generally update path
#Don’t forget to add `$(brew --prefix coreutils)/libexec/gnubin` to `$PATH`.
export PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"
export PATH="$MYBINS:$PATH";

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
eval $(gdircolors -b ~/.dircolors)

#Export android-home (brew)
export ANDROID_HOME=/usr/local/opt/android-sdk